@use 'bases/general';
@use 'bases/header';
@use 'pages/index1carrusel';
@use 'pages/indexh1';
@use 'pages/index2enunciados';
@use 'pages/index3card';
@use 'pages/index4imagen';
@use 'pages/nosotros';
@use 'pages/productos';
@use 'pages/comprar';
@use 'pages/galeria';
@use 'bases/footer';
@use 'bases/queries';
