@use '../utilities/mixin';


@media (max-width: 768px) {
    .navbar-brand {
        width: 10px;
    }

    header {
        .navbar-custom {
        .navbar-collapse {
        justify-content: flex-start !important;

            .navbar-nav {
                ul {
                margin-top: 10px;
                width: 100%;
                @include mixin.flex(column,center,flex-start);
                padding-left: 0;
                margin-left: 0;
                }

                a {
                text-align: left;          
                width: 100%;          
                padding-left: 0;
                }
            }
        }
        }
    }

    .enunciado{
        .grid-enunciados {
            @include mixin.grid(none,1,20px);
        }
    }

    .card-producto {
        height: auto;
        .row,
        .col-md-4 {
            height: auto;
        }
        img {
            height: auto;
        }
    }

    .img-historia .col-lg-4{
        margin-bottom: 20px;
}

    .iconosanimado > :not(:nth-child(1)):not(:nth-child(5)):not(:nth-child(6)) {
        display: none;
    }

    .iconos-compra img {
        @include mixin.flex(row,center,center);
        width: 70px;          
        animation: movil 3.5s ease-in-out infinite;
    }
    @keyframes movil {
    0%, 100% { transform: scale(1); }
    50%      { transform: scale(1.1); } 
    }

    .redes{
        align-self: flex-start;
}
    .card-index .card{
        margin-top: 15px;
    }

    .produc-mesadulce {
        grid-template-columns: 1fr;
    }

    .grid-compra {
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: 1fr;
}
    details summary{
        width: 70%;
    }

    .produc-mesadulce img {
        height: 400px;
}

    .piedepag .col-md-6{
        margin-bottom: 20px;
    }

    .galeria {
        grid-template-columns: 1fr;
}

    .redes {
        display: flex;
        justify-content: flex-start !important;
        margin-left: 0 !important;
        width: 100%;
    }

    .ubicacion {
        img{
            position: absolute;
            right: 10px;
            width: 70px;
        }
    }
}