@use 'sass:map';
@use '../utilities/maps' as mapa;
@use '../utilities/mixin';
@use '../utilities/extend';

/* como comprar*/
.iconoscompra {
    display: flex;
    width: 100%;
    border-radius: 20px;
    margin: 20px 0;
}

.iconos-compra {
    @include mixin.flex(row,center,center,50px);

    img {
        width: 120px;
        height: auto;
        animation: grow 2.5s ease-in-out infinite;
        transition: transform .2s ease;
    }

    img:nth-child(1) {
        animation-delay: 0s;
    }
    img:nth-child(2) {
        animation-delay: .4s;
    }
    img:nth-child(3) {
        animation-delay: .8s;
    }
}


@keyframes grow {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.15);
    }
}




.grid-compra {
    @include mixin.grid(repeat(2, 1fr),3,30px);
    margin: 40px 0;
    align-items: stretch;
}


.card-ccomprar {
    @extend .card-compra;

    .card-body {
        padding: 15px;
    }

    .numero {
    @extend .numerocard-centrado;
    }
}

.card-ccomprar .numero {
    transform: translateX(-50%);
    transition: transform .4s ease;
}
.card-ccomprar:hover .numero {
    transform: translateX(-50%) translateY(-10px);
}


/* ubicacion maps*/
.ubicacion {
    background-color: map.get(mapa.$colores, claro);
    margin: 20px 0;
    align-content: center;
    padding: 10px 0;
    border-radius: 10px;
    h4{
        color: map.get(mapa.$colores, fuerte);
        text-align: center;
        margin-bottom: 15px;
    }
    img{
        position: absolute;
        right:80px;
        width: 90px;
        height: auto;
        border-radius: 100%;
        border: 5px solid map.get(mapa.$colores, fuerte);
        box-shadow: 0 4px 12px rgba(0,0,0,0.2);
        background-color:map.get(mapa.$colores, claro);
        padding: 4px;
    }
    .maps iframe {
        width: 100%;
        border: 3px solid map.get(mapa.$colores, base);
        border-radius: 12px;
        margin-bottom: 20px;
    }
}
