@use 'sass:map';
@use '../utilities/maps' as mapa;
@use '../utilities/mixin';
@use '../utilities/extend';

/* galeria grilla*/

.galeria {
    @include mixin.grid(auto,4,30px);
    margin: 50px 0px 30px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
}

