@use 'sass:map';
@use '../utilities/maps' as mapa;
@use '../utilities/mixin';
@use '../utilities/extend';

/* galeria grilla*/

.galeria {
    @include mixin.grid(auto,4,30px);
    margin: 50px 0px 30px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
}

.galeria img {
    transition: transform .35s ease, box-shadow .35s ease;
    border-radius: 12px;
}

.galeria img:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 28px rgba(0,0,0,.18);
    transform: scale(1.1);
    border: 2px solid map.get(mapa.$colores, fuerte);
}

