@use 'sass:map';
@use '../utilities/maps' as mapa;
@use '../utilities/mixin';
@use '../utilities/extend';

/* imagen mesa dulce*/
.mesadulce {
    position: relative;
    margin: 60px 0px 80px;
    height: 450px;
    background-image: url(../img/imagenes/index/mesadulce.webp);
    background-size: cover;
    background-position: center;
    @include mixin.flex(row,flex-start,center);
    padding-left: 60px;       
    border-radius: 25px;
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.50);
        border-radius: 25px; 
        z-index: 1;
        } 
        .texto-mesad {
            position: relative;
            z-index: 2;
            color: map.get(mapa.$colores, blanco);
        }
            .h3 {
                @include mixin.tamaño-title(2.4rem,700);
            }
            .h2 {
                @include mixin.tamaño-title(3.2rem,600);
                margin-top: 10px;
                font-family: 'Georgia', serif !important;
            }
}


