@use 'sass:map';
@use '../utilities/maps' as mapa;

/* h1 index*/
.titleindex{
    margin-top: 20px;
    color: map.get(mapa.$colores, fuerte);
    opacity: 0;
    transform: translateY(15px);
    animation: fadeSlide 1.2s ease-out forwards;
}


@keyframes fadeSlide {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}