@use 'sass:map';
@use '../utilities/maps' as mapa;

/* quienes somos */

.historia {
    gap: 20px;
    align-items: center;
    .accordion {
        .accordion-item {
        border: none;
        }
    .accordion-button {
        background-color:map.get(mapa.$colores, base);
        color:map.get(mapa.$colores, blanco); 
        font-weight: 600;
        &:not(.collapsed) {
            background-color:map.get(mapa.$colores, fuerte); 
            color:map.get(mapa.$colores, blanco); 
        }
        &:focus {
            box-shadow: none;
            border-color: transparent;
        }
        }

        .accordion-body {
        background-color:map.get(mapa.$colores, claro); 
        padding: 20px;
        border-radius: 0 0 8px 8px;
        }
    }
    }

.img-historia {
    margin: 20px 0;
    img {
        border-radius: 20px;
        display: block;
        width: 100%;
    }
    }
