@use 'sass:map';
@use '../utilities/maps' as mapa;
@use '../utilities/mixin';

.card-base {
    background-color: map.get(mapa.$colores, claro);
    border: 1px solid map.get(mapa.$colores, blanco);
    border-radius: 15px;
    overflow: hidden;
    .img {
        position: relative;        
        height: 100%;
        object-fit: cover;
    }
    .card-title {
        color: map.get(mapa.$colores, fuerte);
        @include mixin.tamaño-title(1.3rem,700);
        z-index: 500;
    }
}
.numerocard-centrado {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: map.get(mapa.$colores, fuerte);
    color: map.get(mapa.$colores, blanco);
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-compra{
    position: relative;
    padding-top: 45px;
    background-color: map.get(mapa.$colores, blanco);
    border: 5px solid map.get(mapa.$colores, fuerte);
    border-radius: 12px;
    .card-title{
        color:map.get(mapa.$colores, fuerte);
        @include mixin.tamaño-title(1.3rem,700);
        margin-bottom: 4px;
    }
}