$colores: (
    base:rgb(223, 159, 183),
    fuerte:rgb(190, 100, 140),
    intermenedio:rgb(208, 128, 156),
    hover:rgb(160, 70, 110),
    acento:rgb(140, 50, 90),
    claro:rgb(245, 220, 230),
    blanco:rgb(255, 255, 255),
    fondo:rgb(247, 243, 243),
);


