@mixin flex(
    $direction: row,
    $justify: flex-start,
    $align: stretch,
    $gap: 0
) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}


@mixin grid($row:0,$columns, $gap: 0) {
    display: grid;
    grid-template-rows: $row;
    grid-template-columns: repeat($columns, 1fr);
    gap: $gap;
}

@mixin tamaño-title($fs:2.4rem,$fw:700){
    font-size: $fs;
    font-weight: $fw;
}