*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* PALETA BASADA EN rgb(223,159,183)
Base:        #DF9FB7 (rgb(223,159,183))
Fuerte:      #BE648C (rgb(190,100,140))   -> Navbar
Intermedio:  #D0809C (rgb(208,128,156))
Hover:       #A0466E (rgb(160,70,110))
Acento:      #8C325A (rgb(140,50,90))
Claro:       #F5DCE6 (rgb(245,220,230))
*/


/*encabezado*/
header{
    margin-bottom: 15px;
    background-color: rgb(255, 255, 255);
}
.linea{
    background-color:rgb(190, 100, 140);
    display: flex;
    flex-direction: row;
    height: 5px;
    color: #fff;
}
.navbar-nav a {
    color:rgb(190, 142, 160) !important ;
    text-transform: uppercase;
    font-size: large;
    font-weight: 600;
}
.navbar-nav a:hover{
    background-color: rgb(208,128,156);
    color: rgb(255, 255, 255) !important;
    border-radius: 10px;
}

.navbar-custom .navbar-toggler {
    border-color: rgb(190,100,140);
}
.navbar-toggler-icon {
    background-image: url(../img/imagenes/header/icons8-menú-50.png) !important;
}



/*carrusel*/
.carousel-btn {
    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.btn-productos {
    background-color: rgb(190,100,140);
    color: white;
    padding: 10px 25px;
    border-radius: 30px;
    text-decoration: none;
    transition: .3s;
    font-weight: 500;
}
.btn-productos:hover {
    background-color: rgb(223,159,183);
    color: #fff;
}


/*h1*/
h1{
    background-color: rgb(245,220,230);
    padding: 20px;
    border-radius: 5px;
    color: rgb(190,100,140);
}

/*index enunciados*/
.enunciado{
    margin-top: 50px;
}
.grid-enunciados{
    background-color: #f1c3da;
    border-radius: 50px;
}
.grid-enunciados {
    display: grid;
    grid-template-rows: 250px;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    justify-content: center;
    padding: 20px;
}
.enun > div{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
}
.enun div img {
    width: 40px;
    background-color: #fff;
    margin: 10px;
    padding: 5px;
    border-radius: 12px;
}
.whatsap-enun {
    display: flex;
    justify-content: center;
}
.whatsap-enun a img{
    background-color: #fff;
    margin: -50px;
    border-radius: 20px;
}

.recuadro-container{
    background-color: #f8f1f5;
    border: 3px solid rgb(140,50,90);
    padding: 50px 30px 50px;
    border-radius: 50px;
}
.titulo-cardindex{
    color: rgb(140,50,90);
    margin-bottom: 50px;
}
.card-index h3{
    color: rgb(140,50,90);
}



/*index imagen de mesa duce*/
.mesadulce {
    position: relative;
    margin: 80px 0px;
    height: 450px;
    background-image: url(../img/imagenes/index/mesadulce.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;      
    justify-content: flex-start;
    padding-left: 60px;       
    border-radius: 10px;      
}
.mesadulce .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.50);
    border-radius: 10px; 
    z-index: 1;
}
/* Texto arriba de la capa */
.texto-mesad {
    position: relative;
    z-index: 2;
    color: #fff;
}
/* Estilo del texto */
.texto-mesad h3 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.2;
}
.texto-mesad h4 {
    font-size: 2rem;
    font-weight: 300;
    margin-top: 10px;
    font-family: 'Georgia', serif;
}



/* pie de pagina */
footer{
    background-color: rgb(190,100,140);
}
.piedepag{
    color: rgb(255, 255, 255);
}
.foot {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
}
.foot ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.foot li {
    margin-bottom: 4px;
}
.foot h3{
    color: rgb(255, 255, 255);
}
.foot a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    gap: 30px;
}
.foot a:hover {
    text-decoration: underline;
    color: rgb(100, 32, 100);
}
.redes{
    border-radius: 20px;
    align-self: flex-end;
}
.redes img{
    background-color: #fff;
    border-radius: 5px;
}



/* quienes somos */
.historia{
    gap: 20px;
    align-items: center;
}
.accordion-button {
    background-color: rgb(223,159,183); 
    color: #fff;                        
    font-weight: 600;
}
.accordion-button:not(.collapsed) {
    background-color: rgb(190,100,140); 
    color: #fff;
}
.accordion-button:focus {
    box-shadow: none;
    border-color: transparent;
}
.accordion-body {
    background-color: rgb(245,220,230);
    padding: 20px;
    border-radius: 0 0 8px 8px;
}
.img-historia{
    margin: 20px 0px;
}


/* producto */
.produc-mesadulce {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;               
    gap: 20px;
    margin-top: 20px;
}
.produc-mesadulce img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
details summary {
    cursor: pointer;
    font-weight: 600;
    margin-bottom: 8px;
}
details[open] summary {
    margin-bottom: 12px;
}
details ul {
    margin-left: 20px;
}
/* estilo de card */
.card {
    background-color: rgb(245,220,230); 
    border: 1px solid rgb(223,159,183);
    border-radius: 12px;
    overflow: hidden;
}



.iconoscompra{
    display: flex;
    width: 100%;
    border-radius: 20px;
    margin: 20px 0px;
}
.grid-compra {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px;                          
    margin: 20px 0px;
    align-items: stretch;
}
/* CARD contenedora */
.card-ccomprar {
    position: relative;
    padding-top: 45px;
    border: 3px solid rgb(223,159,183);
    border-radius: 12px;
}
.card-ccomprar .card-body{
    padding: 15px;
}
.card-ccomprar .numero {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);

    width: 40px;
    height: 40px;
    border-radius: 50%;

    background-color: rgb(190,100,140);
    color: #fff;
    font-weight: 700;

    display: flex;
    align-items: center;
    justify-content: center;
}

.ubicacion {
    background-color: rgb(245,220,230);
    margin: 20px 0px;
    align-content: center;
    padding: 10px 0px;
    border-radius: 10px;
}
.ubicacion h3 {
    color:rgb(208,128,156) ;
}
.maps iframe,
.map-iframe {
    width: 100%;
    align-items: center;
    border: 3px solid rgb(223,159,183);
    border-radius: 12px;
    margin-bottom: 20px;
}







.galeria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px; 
    margin: 50px 0px 30px;
}
.galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}





@media (max-width: 768px) {
    .navbar-brand {
        width: 10px;
    }

    .grid-enunciados {
        grid-template-rows: none;
        grid-template-columns: 1fr;
    }

    .img-historia .col-lg-4{
        margin-bottom: 20px;
}

    .redes{
        align-self: flex-start;
}
    .card-index .card{
        margin-top: 15px;
    }

    .produc-mesadulce {
        grid-template-columns: 1fr;
    }

    .grid-compra {
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: 1fr;
}


    .produc-mesadulce img {
        height: 400px;
}

    .piedepag .col-md-6{
        margin-bottom: 20px;
    }

    .galeria {
        grid-template-columns: 1fr;
}

}